/* PHASE 1: Header */
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #eee;
}

.header {
    background: #f00;
}

.header-nav {
    margin:auto;
    width: 900px;
    color: white;
    border-bottom: 1px solid #ccc;
}

.header-logo {
    float: left;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.header-list {
    float:right;
    border-right: 1px solid #ccc;
}

.header-list > li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #ccc;
}

.header-list a {
    display: block;
}

.header-list li:hover {
    background: black;
}

.header-logo:hover {
    background: black;
}